#warpped {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#content, #header, #footer {
    flex: 1;
}

.c-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 70px 150px 70px 150px;
}

.part-1 {
    flex-direction: column;
    background-color: #313945;
    height: 612px;
    padding-bottom: 0;
}

.part-1 .title {
    font-size: 44px;
}

.part-1 p {
    color: white;
}

.part-1 .button-group {
    margin-top: 35px;
}

.part-1 .button-group a {
    padding: 6px 38px 6px 38px;
    border-radius: 5px;
    border: none;
    color: white;
}

.part-1 .login {
    background-color: #69979F;
}

.part-1 .register {
    background-color: #FD5D55;
    margin-left: 20px;
}

.part-1 .grow {
    flex-grow: 1;
}

.part-2 {
    background-color: #EFEFEF;
}

.part-2 .content {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.part-2 .content .tip {
    font-size: 26px;
    color: #000000 !important;
}

.part-2 .content .detail {
    font-size: 14px;
    color: #8D9499 !important;
}

.part-2 .content a {
    font-size: 11px;
    font-weight: 200;
    align-self: flex-start;
    padding: 7px 17px 7px 17px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #69979F;
}

.part-3 {
    flex-direction: column;
}

.part-3 .tip {
    font-size: 16px;
    color: #6998A0 !important;
}

.part-3 .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.part-3 .wrapper .c-column {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.part-3 .wrapper .item {
    display: flex;
    flex-basis: content;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 35px;
}

.part-3 .wrapper .item .circle {
    width: 62px;
    height: 62px;
    border-radius: 31px;
}

.part-3 .wrapper .item .c-1 {
    background-color: #49C9B3;
}

.part-3 .wrapper .item .c-2 {
    background-color: #29A9C9;
}

.part-3 .wrapper .item .c-3 {
    background-color: #FD5D55;
}

.part-3 .wrapper .item .c-4 {
    background-color: #FFD36B;
}

.part-3 .wrapper .item .content {
    margin-left: 16px;
}

.part-3 .wrapper .item .tip {
    font-size: 20px;
    color: #020102 !important;
}

.part-3 .wrapper .item .detail {
    font-size: 14px;
    color: #8D9499 !important;
    margin-top: 20px;
}

.part-4 {
    background-color: #49C9B3;
    flex-direction: column;
}

.part-4 .content {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}

.part-4 .content a {
    margin-top: 20px;
    border: 1px solid #ffffff;
    background-color: #49C9B3;
    color: white !important;
}

.part-5 {
    flex-direction: column;
}

.part-5 .tip-title {
    font-size: 26px;
    color: #000000 !important;
}

.part-5 .price {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.part-5 .price .item {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.part-5 .price .item .i-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 18px 46px 18px 46px;
    background-color: #EFEFEF;
}

.part-5 .price .item .i-price .i-price-item-1 {
    font-size: 30px;
    color: #000000 !important;
}

.part-5 .price .item .i-price .i-price-item-2 {
    font-size: 10px;
    color: #6998A0 !important;
}

.line {
    height: 1px;
    background-color: #FFF;
}

.part-5 .price .item .i-width {
    padding: 17px 40px 17px 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #EFEFEF;
}

.part-5 .price .item .i-width p {
    color: #8D9499 !important;
    font-size: 14px;
}

.part-5 .price .item .i-width a {
    font-size: 11px;
    font-weight: 200;
    align-self: flex-start;
    padding: 7px 17px 7px 17px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #69979F;
}