footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

footer .top {
    display: flex;
    justify-content: space-around;
    background-color: #69979F;
    padding: 40px 0 40px 0;
}

.content p, .title {
    color: white !important;
}

footer ul {
    display: flex;
}

footer ul li a {
    color: white;
}

footer .bottom {
    background-color: #313945;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

footer .bottom p {
    color: white;
}