* {
    box-sizing: border-box;
}

header {
    display: flex;
    height: 64px;
    background-color: #69979F;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0;
}

header a {
    color: white;
    font-size: 26px;
}

header ul {
    display: flex;
}

header ul li {
    margin-left: 48px;
}

header ul li a {
    color: white;
    font-size: 12px;
}