* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E7E7E7;
}

#dialog {
    width: 389px;
    height: 371px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    box-shadow: 2px 2px 2px #AAAAAA;
    border-radius: 5px;
    padding: 35px 30px 35px 30px;
}

#informations {
    font-size: 12px;
    color: #A1A1A1 !important;
    margin-top: 35px;
}

.sign-title {
    font-size: 30px;
    color: #757575 !important;
}

.sign-detail {
    font-size: 14px;
    color: #A1A1A1 !important;
}

form {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.sign-tip {
    margin-top: 20px;
    font-size: 12px;
    color: #A1A1A1 !important;
}

.sign-input {
    outline: none;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    padding: 3px 0px 4px 0px;
    font-size: 14px;
    color: #757575 !important;
    font-weight: 300;
    flex: 1 0 100%;
    width: 100%;
}

.sign-radio-control {
    margin-top: 14px;
}

.sign-radio {
    font-size: 14px;
    color: #A1A1A1 !important;
}

.sign-button {
    padding: 10px 30px 10px 30px !important;
    align-self: flex-end;
    background-color: #4990E2 !important;
}

.active-input {
    border-bottom: 1px solid #4990E2 !important;
}

.active-tip {
    color: #4990E2 !important;
}