<footer>
  <div class="top">
    <div>
      <div class="content">
        <h1 class="title">Titan</h1>
        <p>2134 Street Name, Suite 2nd<br>Your City, 24153</p>
        <p>021. 1234. 567</p>
        <p>info@yourdomain.com</p>
      </div>
    </div>
    <div>
      <div class="content">
        <h1 class="title">About us</h1>
        <p>Hackers have stolen as much as $1 billion from<br> banks around the world, according to a <br>prominent cybersecurity firm. In a report<br> scheduled to be delivered Monday.</p>
      </div>
      <ul>
        <li><a class="icon" href="#"><i class="fa fa-github"></i></a></li>
        <li><a class="icon" href="#"><i class="fa fa-github"></i></a></li>
        <li><a class="icon" href="#"><i class="fa fa-github"></i></a></li>
        <li><a class="icon" href="#"><i class="fa fa-github"></i></a></li>
        <li><a class="icon" href="#"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="bottom">
    <div>
      <div class="content">
        <p>© 20XX Our Company, All Rights Reserved.</p>
      </div>
    </div>
    <div>
      <div class="content">
        <p>Unsubscribe   |   Send to a Friend</p>
      </div>
    </div>
  </div>
</footer>