<header class="is-fullwidth">
  <a href="#">Titan</a>
  <ul>
    <li><a href="#">HOME</a></li>
    <li><a class="to-detail">DETAILS</a></li>
    <li><a href="#">CONTACT</a></li>
  </ul>
</header>

<script>
  $('.to-detail').click(function () {
    loadHTML('views/detail/detail.html', '#content');
  });
</script>