<link rel="stylesheet" type="text/css" href="views/detail/styles/detail.css" />
<div class="content" id="detail-article">
  
  <h1 class="title detail-title">How to write a Web-Project</h1>
  <p class="has-text-centered">
    <img src="http://ocef2grmj.bkt.clouddn.com/Pasted%20Graphic.tiff" />
  </p>
  <p style="color: #4a4a4a !important;">每一段学习的过程都很脆弱，记得记录下来。</p>
  <article class="message is-success">
    <div class="message-header">
      Success
    </div>
    <div class="message-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque risus mi, tempus quis placerat ut, porta nec
      nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam
      gravida purus diam, et dictum felis venenatis efficitur.
      Aenean ac eleifend lacus, in mollis lectus. Donec sodales,
      arcu et sollicitudin porttitor, tortor urna tempor ligula,
      id porttitor mi magna a neque. Donec dui urna, vehicula et
      sem eget, facilisis sodales sem.
    </div>
  </article>
  <p class="has-text-centered">
    <a class="button is-primary">阅读更多</a>
  </p>
</div>